body{
    background: black;
    font-family: Verdana;
    color: white;
    text-align: center;
}
header {
    
    font-weight: normal;
    font-size: 50px;
}
a {
    color: aquamarine;
    font-size: 16px;
}

video{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
div {
    font: weight 300px;
    font-size: 42px;
}
p {
    font-size: 21px;
    color: gray;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer{
    text-align: right;
    color:gray;
}